
@media (max-width: 1199px)
    .container
        max-width: 800px
        margin: 0 auto
        .features
            &_icon
                width: 630px

@media (max-width: 991px)
    .container
        max-width: 670px
        margin: 0 auto
        .features
            &_icon
                width: 585px
        .consultation
            &_descr
                text-align: center
        .title
            text-align: center
            font-size: 27px
        .feed-form
            display: flex
            margin: 0 auto
            margin-top: 36px
        .carousel_inner
            width: 580px

@media (max-width: 767px)
    .container
        max-width: 590px
        margin: 0 auto
        .header_offical
            display: none
        .header_logo
            width: 220px
        .header_phone
            margin-bottom: 10px
        .promo
            &_wrapper
                align-items: center
            &_header
                font-size: 37px
            &_subheader
                font-size: 22px
            &_link
                font-size: 14px
        .features
            &_header
                font-size: 26px
            &_icon
                display: none
            &_wrapper
                flex-direction: column
                align-items: center
            &_block
                display: flex
                flex-direction: column
                width: 80%
                margin-top: 20px
                .features_img
                    display: block
                    width: 70px
                    margin: 0 auto
        .consultation
            &_descr
                font-size: 18px
        .title
            font-size: 23px
        .carousel_inner
            width: 440px
        .catalog
            &_title
                font-size: 26px
            &_tab
                width: 150px
                font-size: 15px
            &_item
                width: 270px
                hr
                    margin-top: 0px
                    margin-bottom: 5px
                &_price
                    font-size: 16px
                &_old_price
                    font-size: 13px
        .reviews
            &_header
                font-size: 26px
            &_wrapper
                width: 500px
                padding-left: 40px
            &_content
                margin-top: 50px
            &_img
                width: 120px
                height: 120px
            &_descr
                font-size: 15px
    .footer
        &_info
            padding: 30px 40px 30px 40px !important
            width: 370px !important
            height: 220px !important
        &_addr
            margin-bottom: 20px !important
            font-size: 17px !important
        &_phone
            font-size: 18px !important
            margin-bottom: 20px !important

    .slick-prev
        display: none !important
    .slick-next
        display: none !important

@media (max-width: 576px)
    .container
        max-width: 590px
        margin: 0 auto
        .reviews
            &_header
                font-size: 26px
            &_wrapper
                width: 365px
                padding-left: 0px
        .carousel_inner
            width: 370px
    .header_logo
        width: 170px
    .button
        // display: none
    .button_mobile
        display: block
        margin: 0 center
    .carousel_inner
        width: 380px

@media (max-width: 425px)
